<style>
	.message-content {
		font-family: Arial, Helvetica, sans-serif;
		max-width: 600px;
		font-size: 18px;
		line-height: 24px;
	}
</style>

<div class="message-content">
	<p>Olá {{nome}}</p>
	<br>
	<p>Obrigado por se cadastrar em nosso site.</p>
	<p>Faça seu login, clicando no botão abaixo</p>
	<p>
		<a href={{link}}>Fazer Login</a>
	</p>
	<br>
	<p>Até logo!</p>
	<p>Equibe DoarBem</p>
</div>