<style>
	.message-content {
		font-family: Arial, Helvetica, sans-serif;
		max-width: 600px;
		font-size: 18px;
		line-height: 24px;
	}
</style>

<div class="message-content">
	<p>Olá {{nome}}</p>
	<br>
	<p>Sua senha foi alterada com sucesso em nossa plataforma.</p>
	<p>Sua nova senha é: {{senha}}</p>
	<p>
		<a href={{link}}>Entrar</a>
	</p>
	<br>
	<p>Caso você não tenha realizado essa solicitação, entre em contato com nossa equipe.</p>
	<br>
	<p>Obrigado!</p>
	<p>Equibe DoarBem</p>
</div>